/target/
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/META-INF/maven/com.meli/morsechallenge/pom.properties
target/classes/META-INF/maven/com.meli/morsechallenge/pom.properties
target/classes/META-INF/maven/com.meli/morsechallenge/pom.properties
